<div class="container">
      <div class="row">
      <% if flash %>
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= name  %>">
            <%= msg %>
            </div>
          <% end %>
      <% end %>  
    </div>
    <div class="col-md-12">
      <h1>مطالب ارسالی</h1>
      <div class="panle panel-default">
      <table class="table table-responsive table-hover">
        <thead>
          <tr>
              <th>تیتر مطلب</th>
              <th>چکیده</th>
              <th>آدرس سفارشی</th>
              <th>دسته مطلب</th>
              <th>وضعیت نمایش پست</th>
              <th colspan="3">عملیات پست</th>
          </tr>
        </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
              <td><%= sanitize(strip_tags(post.title)) %></td>
              <td><%= sanitize(truncate(strip_tags(post.body),length: 100)) %></td>
              <td><code><%= url_for_post post %></code></td>
              <td><%= post.category.name %></td>              
              <% if post.published? %>
                <td><span class="label label-success"> منتشر شده </span></td>
              <% else %>
                <td><span class="label label-danger"> منتشر نشده </span></td>                
              <% end %>
              <td>
                <%= link_to admin_post_path(post) do%>
                  <span class="glyphicon glyphicon-eye-open"></span>
                <% end %>
              </td>
              <td>
              <%= link_to edit_admin_post_path(post)  do%>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              </td>
              <td>
              <%= link_to admin_post_path(post), method: :delete, data: { confirm: 'آیا میخواهید این مطلب را حذف کنید؟' },:remote => true, :class => 'delete_post' do%>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
              </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="padding-top:21px;" class="col-md-6">
          <%= link_to "ارسال پست",new_admin_post_path,class: 'btn btn-primary' %>
        </div>
        <div class="fixed col-md-6 pull-left">
        <div class="pull-left">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails , :style => "color:blue",
    :class => "pagi",:previous_label => "قبلی",:next_label => "بعدی" %>
        </div>
        </div>
      </div>
    </div>
</div>
