<div class="container">
  <%= form_for([:admin,@menu]) do |f| %>
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
        <ul>
            <% @menu.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
      </div>
    <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="panel panel-primary">
          <div class="panel-heading">
            <strong>لیست منوها</strong>
          </div>
          <div class="panel-body">
         <ul>
          <% Menu.all.each do |menu| %>
            <li><%= link_to menu.name, edit_admin_menu_path(menu)  %></li>
              <ul>
                <% menu.mitems.each do |item| %>
                <li><%= item.title %></li>
                <% end %>
              </ul>
              <hr>
          <% end %>
          </ul>
          </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <strong>مدیریت منوها</strong>
        </div>
        <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="field">
              <%= f.label "نام منو" %><br>
              <%= f.text_field :name , :class => "form-control" %>
            </div>
            <div class="field">
              <%= f.label "آدرس منوی اصلی" %><br>
              <%= f.text_field :url , :class => "form-control" %>
            </div>
            <div class="field">
              <%= f.label "توضیحات منو" %><br>
              <%= f.text_area :description , :class => "form-control" %>
            </div>
          </div>

          <div class="col-md-6">
          <div class="alert alert-info">
            در صورت تمایل به درج زیر منو میتوانید از این قسمت نام و آدرس آن را بیافزایید. <br/>
            <code>در صورت تمایل میتوانید لینک صفحه های یکتا را در قسمت آدرس وارد نمایید.</code>
          </div>
              <%= f.fields_for :mitems do |item| %>
                <%= render "submenu", f: item %>
              <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="actions">
              <%= f.submit "ایجاد منو", :class => "btn btn-success" %>
            </div>
          <% end %>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>